@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /* font-family: "Rubik", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); /* font-family: "Roboto Slab", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* font-family: "Work Sans", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* font-family: "Open Sans", sans-serif; */




@media screen and (min-width: 320px) and (max-width: 767px) {}
@media screen and (min-width: 768px) and (max-width: 1024px) {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {
    background-color: #ECF0F1;
}

.form-cadastro {
    width: 85%;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    gap: 350px;
}


.form-cadastro .container-img {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.form-cadastro .select-div {
    display: flex;
}