@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /* font-family: "Rubik", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); /* font-family: "Roboto Slab", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* font-family: "Work Sans", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* font-family: "Open Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 767px) {}
@media screen and (min-width: 768px) and (max-width: 1024px) {}


@media screen and (min-width: 1025px) {
    main {
        background-color: #ECF0F1;
        padding: 20px 20px 100px 20px;
    }
    
    .card-stepper {
        z-index: 0;
        background-color: #ECF0F1;
        box-shadow: none; /* Remove o box shadow */
    }
    
    #progressbar-2 {
        color: #455A64;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    #progressbar-2 li {
        font-size: 13px;
        width: 33.33%;
        float: left;
        position: relative;
        text-align: center;
        font-family: "Rubik", sans-serif;
    }
    
    #progressbar-2 li .fas {
        font-size: 20px;
        background: #c5cae9;
        color: #fff;
        width: 37px;
        height: 37px;
        line-height: 37px;
        border-radius: 50%;
        display: inline-block;
    }
    
    #progressbar-2 li .step-text {
        margin-top: 8px;
        font-weight: bold;
        color: #455A64;
    }
    
    #progressbar-2 li:before {
        content: '';
        width: 100%;
        height: 2px;
        background: #c5cae9;
        position: absolute;
        top: 18px;
        left: -50%;
        z-index: -1;
    }
    
    #progressbar-2 li:first-child:before {
        left: 50%;
    }
    
    #progressbar-2 li.active .fas {
        background: #00326D;
    }
    
    #progressbar-2 li.active .fas {
        color: #fff;
    }


    main .main-separator {
        display: flex;
        justify-content: space-between;
    }

    main .main-separator .separator-two {
        display: flex;
        flex-direction: column;
    }

    main .main-separator .container-info-pedido {
        border: 1px solid #B2B2B2;
        border-radius: 15px;
        padding: 10px;
        margin: 30px;
        width: 95%;
    }

    main .main-separator .container-info-pedido .email-sec {
        padding: 10px;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    main .main-separator .container-info-pedido i {
        color: #00326D;
        font-size: 35px;
    }

    main .main-separator .container-info-pedido .email-sec span {
        font-family: "Rubik", sans-serif;
        font-size: 18px;
    }

    main .main-separator .container-info-pedido .user-sec {
        padding: 10px;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    main .main-separator .container-info-pedido .user-sec .alterar a {
        color: #00326D;
        text-decoration: none;
        font-weight: bold;
        font-family: "Rubik", sans-serif;
    }

    main .main-separator .container-info-pedido .user-sec .user-sec-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    main .main-separator .container-info-pedido .user-sec .user-sec-info span {
        font-size: 20px;
        font-family: "Rubik", sans-serif;
    }

    main .main-separator .container-info-pedido .entrega-sec {
        padding: 10px;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    main .main-separator .container-info-pedido .entrega-sec span {
        font-family: "Rubik", sans-serif;
        font-size: 18px;
    }

    main .main-separator h2 {
        font-family: "Rubik", sans-serif;
        font-size: 45px;
        padding: 30px;
    }

    main .main-separator .container-pagamento {
        margin: 30px;
        border: 1px solid #B2B2B2;
        border-radius: 15px;
        width: 95%;
    }

    main .main-separator .container-pagamento .header-container {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 15px;
        height: 8vh;
    }

    main .main-separator .container-pagamento .header-container i {
        font-size: 30px;
    }

    main .main-separator .container-pagamento .header-container h4 {
        font-family: "Rubik", sans-serif;
        font-weight: normal;
    }

    main .main-separator .container-pagamento .body-container {
        background-color: #E3E3E3;
        border: 1px solid #B2B2B2;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    main .main-separator .container-pagamento .body-container .input-separator{
        display: flex;
        gap: 30px;
    }
    
    main .main-separator .container-pagamento .body-container .input-separator #input-maior {
        width: 64%;
        font-size: 20px;
    }

    main .main-separator .container-pagamento .body-container input {
        background-color: #ECF0F1;
        border: 1px solid #AFAFAF;
        border-radius: 5px;
        padding: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        margin-bottom: 15px;
        font-size: 20px;
        outline: none;
    }

    main .main-separator .separator-two .btn-continuar {
        margin: 30px;
        display: flex;
        justify-content: flex-end;
    }

    main .main-separator .separator-two .btn-continuar button {
        background-color: #00326D;
        border-radius: 45px;
        border: none;
        color: #fff;
        padding: 15px 5px;
        width: 35%;
        font-weight: bold;
        font-family: "Rubik", sans-serif

    }

    main .main-separator .container-carrinho {
        border: 1px solid #B2B2B2;
        border-radius: 25px;
        padding: 10px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main .main-separator .container-carrinho span,
    main .main-separator .container-carrinho h5 {
        font-family: "Rubik", sans-serif;
        font-size: 18px;
    }

    main .main-separator .container-carrinho .info-produto {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
    }
    
    main .main-separator .container-carrinho .info-produto .image-box {
        border: 1px solid #A4A4A4;
        width: 66px;
        height: 66px;
        overflow: hidden;
    }

    main .main-separator .container-carrinho .info-produto .image-box img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    main .main-separator .container-carrinho .info-preco {
        margin-top: auto;
    }

    main .main-separator .container-carrinho .info-preco .price-separator {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    main .main-separator .container-carrinho .info-preco .price-separator #preco-total {
        font-size: 22px;
        font-weight: bold;
        color: #00326D;
    }
}

