@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /* font-family: "Rubik", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); /* font-family: "Roboto Slab", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* font-family: "Work Sans", sans-serif */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dispositivos móveis */
@media screen and (min-width: 320px) and (max-width: 767px) { 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .upper-footer {
        display: grid;
        grid-template-columns: 1fr;
        padding: 5%;
        width: 100%;
        height: auto;
        background-color: #D4D8D9;
    }

    .upper-footer h4 {
        font-family: "Work Sans", sans-serif;
        color: #00326D;
        margin-bottom: 5%;
    }

    .upper-footer a {
        font-family: "Rubik", sans-serif;
        text-decoration: none;
        color: #00326D;
    }

    .upper-footer .column-dp h4,
    .upper-footer .column-empresa h4,
    .upper-footer .sociais h4 {
        margin-bottom: 5%;
    }

    .upper-footer .contato h4 {
        margin-bottom: 7.5%;
    }

    .upper-footer .contato .div-contato a {
        color: #00326D;
        font-size: 3.5vw;
    }

    .upper-footer .contato .div-contato a i {
        margin-right: 1vw;
        font-size: 3.5vw;
    }

    .upper-footer .contato .div-contato span {
        color: #00326D;
        font-family: "Roboto Slab";
        font-size: 3.5vw;
    }

    .upper-footer .contato .div-contato i {
        color: #00326D;
        font-size: 3.5vw;
    }

    .upper-footer .sociais a i {
        color: #fff;
        font-size: 3.5vw;
    }

    .upper-footer .sociais button {
        background-color: #00326D;
        border-radius: 50%;
        border: none;
        width: 10%;
        height: 10%;
        margin-right: 0 2.5%;
        margin-bottom: 2.5%;
        transition: opacity 0.3s;
    }

    .upper-footer .sociais button:hover {
        opacity: 0.8; 
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
        background-color: #00326D;
    } 

    footer .text-footer {
      display: flex;
      align-items: center;
      justify-content: center;  
      padding: 0 5%;
    }


    footer .text-footer span {  
        color: #fff;
        font-size: 3.5vw;
        font-family: "Rubik", sans-serif;
    }

} 


/* iPads, tablets 
@media screen and (min-width: 481px) and (max-width: 768px) {

} 

/* telas pequenas, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

} 

/* desktops, telas grandes */
@media screen and (min-width: 1025px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .upper-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 50px;
        width: 100%;
        height: 50vh;
        background-color: #D4D8D9;
    }
    
    .upper-footer h4 {
        font-family: "Work Sans", sans-serif;
        color: #00326D;
    }
    
    .upper-footer a {
        font-family: "Rubik", sans-serif;
        text-decoration: none;
        color: #00326D;
        transition: all 0.3s ease;
        font-size: 18px;
    }

    .upper-footer a:hover {
        font-size: 20px;
        opacity: 0.7; 
        color: #0056b3; 
    }
    
    .upper-footer .column-dp h4 {
        margin-bottom: 20px;
    }
    
    .upper-footer .column-empresa h4 {
        margin-bottom: 20px;
    }
    
    .upper-footer .contato h4 {
        margin-bottom: 30px;
    }
    
    .upper-footer .contato .div-contato a {
        color:#00326D;
        font-size: 17px;
    } 
    
    .upper-footer .contato .div-contato a i {
        margin-right: 6px;
        font-size: 17px;
    }
    
    .upper-footer .contato .div-contato span {
        color: #00326D;
        font-family: "Roboto Slab";
    }
    
    .upper-footer .contato .div-contato i {
        color: #00326D;
    }
    
    .upper-footer .sociais h4 {
        margin-bottom: 20px;
    }
    
    .upper-footer .sociais a i {
        color: #fff;
        font-size: 17px;
    }
    
    .upper-footer .sociais button {
        background-color: #00326D;
        border-radius: 50%;
        border: none;
        width: 50px;
        height: 50px;
        margin-right: 0 15px;
        transition: opacity 0.3s;
    }
    
    .upper-footer .sociais button:hover {
        opacity: 0.8; 
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
        background-color: #00326D;
    } 
    
    footer .text-footer span{  
        color: #fff;
        font-size: 15px;
        font-family: "Rubik", sans-serif;
    } 
} 

