@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /* font-family: "Rubik", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); /* font-family: "Roboto Slab", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* font-family: "Work Sans", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* font-family: "Open Sans", sans-serif; */



/* Dispositivos móveis */
@media screen and (min-width: 320px) and (max-width: 580px) { 
    main {
        background-color: #ECF0F1;
        padding: 5% 0;
    }

    main .left-img {
        display: none;
    }

    #card-cadastro {
        width: 90vw;
    }
}

@media screen and (min-width: 581px) and (max-width: 768px) { 
    main {
        background-color: #ECF0F1;
        padding: 5% 0;
    }

    main .left-img {
        display: none;
    }
}

/* telas pequenas, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    main {
        background-color: #ECF0F1;
        padding: 5% 0;
    }

    main .left-img {
        display: none;
    }
}

/* desktops, telas grandes */
@media screen and (min-width: 1025px) {
    main {
        display: grid !important;
        grid-template-columns: 50% 50%;
        background-color: #ECF0F1;
    }    
    
    main .left-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card-login {
        width: 35vw;
    }

    #card-cadastro {
        width: 35vw;
    }

    main .left-img img {
        border-radius: 10px;
        width: 90%;
    }
    
    .btn btn-success btn-block btn-lg gradient-custom-4 text-body {
        color: #fff; 
    }
    
    main section form .mensagem-erro {
        display: flex;
        justify-content: center;
    }
    
    main section form .mensagem-erro i {
        color: red;
    }
    
    main section form .mensagem-erro p {
        color: red;
        font-family: "Rubik", sans-serif;
    }
}


